# Read Dataset

In [1]:
import pandas as pd

icuStays_df = pd.read_csv(
    'E:/Mina/university/term9/bachelor_project/project/physionet.org/files/mimiciii/1.4/ICUSTAYS.csv.gz',
    compression='gzip',
    low_memory=False,
    parse_dates=['INTIME'] 
)

In [2]:
icuStays_df

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,DBSOURCE,FIRST_CAREUNIT,LAST_CAREUNIT,FIRST_WARDID,LAST_WARDID,INTIME,OUTTIME,LOS
0,365,268,110404,280836,carevue,MICU,MICU,52,52,2198-02-14 23:27:38,2198-02-18 05:26:11,3.2490
1,366,269,106296,206613,carevue,MICU,MICU,52,52,2170-11-05 11:05:29,2170-11-08 17:46:57,3.2788
2,367,270,188028,220345,carevue,CCU,CCU,57,57,2128-06-24 15:05:20,2128-06-27 12:32:29,2.8939
3,368,271,173727,249196,carevue,MICU,SICU,52,23,2120-08-07 23:12:42,2120-08-10 00:39:04,2.0600
4,369,272,164716,210407,carevue,CCU,CCU,57,57,2186-12-25 21:08:04,2186-12-27 12:01:13,1.6202
...,...,...,...,...,...,...,...,...,...,...,...,...
61527,59806,94944,143774,201233,metavision,CSRU,CSRU,15,15,2104-04-15 10:18:16,2104-04-17 14:51:00,2.1894
61528,59807,94950,123750,283653,metavision,CCU,CCU,7,7,2155-12-08 05:33:16,2155-12-10 17:24:58,2.4942
61529,59808,94953,196881,241585,metavision,SICU,SICU,57,57,2160-03-03 16:09:11,2160-03-04 14:22:33,0.9259
61530,59809,94954,118475,202802,metavision,CSRU,CSRU,15,15,2183-03-25 09:53:10,2183-03-27 17:55:03,2.3346
61531,59810,94956,156386,275346,metavision,TSICU,TSICU,14,14,2157-05-19 02:54:54,2157-05-23 14:58:04,4.5022

In [2]:
import pandas as pd

noteEvents_df = pd.read_csv(
    'E:/Mina/university/term9/bachelor_project/project/physionet.org/files/mimiciii/1.4/NOTEEVENTS.csv.gz',
    compression='gzip',
    low_memory=False,
    parse_dates=['CHARTDATE', 'CHARTTIME'] 
)

In [4]:
noteEvents_df

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,174,22532,167853.0,2151-08-04,NaT,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...
1,175,13702,107527.0,2118-06-14,NaT,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...
2,176,13702,167118.0,2119-05-25,NaT,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...
3,177,13702,196489.0,2124-08-18,NaT,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...
4,178,26880,135453.0,2162-03-25,NaT,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...
...,...,...,...,...,...,...,...,...,...,...,...
2083175,2070657,31097,115637.0,2132-01-21,2132-01-21 03:27:00,2132-01-21 03:38:00,Nursing/other,Report,17581.0,NaN,NPN\n\n\n#1 Infant remains in RA with O2 sats...
2083176,2070658,31097,115637.0,2132-01-21,2132-01-21 09:50:00,2132-01-21 09:53:00,Nursing/other,Report,19211.0,NaN,"Neonatology\nDOL #5, CGA 36 weeks.\n\nCVR: Con..."
2083177,2070659,31097,115637.0,2132-01-21,2132-01-21 16:42:00,2132-01-21 16:44:00,Nursing/other,Report,20104.0,NaN,Family Meeting Note\nFamily meeting held with ...
2083178,2070660,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:16:00,Nursing/other,Report,16023.0,NaN,NPN 1800\n\n\n#1 Resp: [**Known lastname 2243*...
2083179,2070661,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:31:00,Nursing/other,Report,16023.0,NaN,NPN 1800\nNursing Addendum:\n[**Known lastname...

In [3]:
import pandas as pd

admissions_df = pd.read_csv(
    'E:/Mina/university/term9/bachelor_project/project/physionet.org/files/mimiciii/1.4/ADMISSIONS.csv.gz',
    compression='gzip',
    parse_dates=['ADMITTIME'] 
)

In [6]:
admissions_df

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,BRAIN MASS,0,1
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,NaN,PROTESTANT QUAKER,SINGLE,WHITE,NaN,NaN,INTERIOR MYOCARDIAL INFARCTION,0,1
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2160-11-02 01:01:00,2160-11-02 04:27:00,ACUTE CORONARY SYNDROME,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58971,58594,98800,191113,2131-03-30 21:13:00,2131-04-02 15:02:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,ENGL,NOT SPECIFIED,SINGLE,WHITE,2131-03-30 19:44:00,2131-03-30 22:41:00,TRAUMA,0,1
58972,58595,98802,101071,2151-03-05 20:00:00,2151-03-06 09:10:00,2151-03-06 09:10:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,2151-03-05 17:23:00,2151-03-05 21:06:00,SAH,1,1
58973,58596,98805,122631,2200-09-12 07:15:00,2200-09-20 12:08:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,RENAL CANCER/SDA,0,1
58974,58597,98813,170407,2128-11-11 02:29:00,2128-12-22 13:11:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,ENGL,CATHOLIC,MARRIED,WHITE,2128-11-10 23:48:00,2128-11-11 03:16:00,S/P FALL,0,0
58975,58598,98813,190264,2131-10-25 03:09:00,2131-10-26 17:44:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,ENGL,CATHOLIC,MARRIED,WHITE,2131-10-25 00:08:00,2131-10-25 04:35:00,INTRACRANIAL HEMORRHAGE,0,1

# Prepare Dataset

In [ ]:
import pandas as pd

def build_icustay_note_dataset(
    icuStays_df,
    noteEvents_df,
    admissions_df,
    first_n_hours=None 
):

    icu_base = icuStays_df[[
        "HADM_ID",
        "ICUSTAY_ID",
        "INTIME",
        "OUTTIME"
    ]].copy()
    icu_base["INTIME"] = pd.to_datetime(icu_base["INTIME"])
    icu_base["OUTTIME"] = pd.to_datetime(icu_base["OUTTIME"])
    # =============================

    notes = noteEvents_df[[
        "HADM_ID",
        "CHARTTIME",
        "CHARTDATE",
        "CATEGORY",
        "TEXT"
    ]].copy()

    notes["NOTE_TIME"] = pd.to_datetime(
        notes["CHARTTIME"].fillna(notes["CHARTDATE"])
    )

    notes = notes.dropna(subset=["NOTE_TIME"])
    notes = notes.sort_values("NOTE_TIME")
    # =============================

    notes_by_hadm = {
        hadm: df for hadm, df in notes.groupby("HADM_ID")
    }

    rows = []
    for _, icu in icu_base.iterrows():
        hadm_id = icu["HADM_ID"]
        if hadm_id not in notes_by_hadm:
            rows.append({
                "HADM_ID": hadm_id,
                "ICUSTAY_ID": icu["ICUSTAY_ID"],
                "CATEGORIES": [],
                "NOTES": []
            })
            continue

        icu_notes_all = notes_by_hadm[hadm_id]

        intime = icu["INTIME"]
        outtime = icu["OUTTIME"]
        if first_n_hours is not None:
            outtime = intime + pd.Timedelta(hours=first_n_hours)
        mask = (
            (icu_notes_all["NOTE_TIME"] >= intime) &
            (icu_notes_all["NOTE_TIME"] <= outtime)
        )
        icu_notes_df = icu_notes_all.loc[mask, ["NOTE_TIME", "CATEGORY", "TEXT"]]
        icu_notes_df = icu_notes_df.sort_values("NOTE_TIME")

        rows.append({
            "HADM_ID": hadm_id,
            "ICUSTAY_ID": icu["ICUSTAY_ID"],
            "CATEGORIES": icu_notes_df["CATEGORY"].tolist(),
            "NOTES": icu_notes_df["TEXT"].tolist()
        })

    icu_note_df = pd.DataFrame(rows)
    # =============================

    max_notes = icu_note_df["NOTES"].apply(len).max()
    print(f"Max notes per ICU stay: {max_notes}")

    wide_cols = []
    base_df = icu_note_df.drop(columns=["CATEGORIES", "NOTES"])
    wide_cols.append(base_df)

    for i in range(max_notes):
        cat_col = icu_note_df["CATEGORIES"].apply(
            lambda x: x[i] if i < len(x) else ""
        ).rename(f"category_{i+1}")

        note_col = icu_note_df["NOTES"].apply(
            lambda x: x[i] if i < len(x) else ""
        ).rename(f"note_{i+1}")

        wide_cols.extend([cat_col, note_col])

    icu_note_df = pd.concat(wide_cols, axis=1)
    # =============================

    icu_labels = icu_base.sort_values(
        ["HADM_ID", "INTIME"]
    ).copy()

    icu_labels["icustay_mortality"] = 0

    for hadm_id, group in icu_labels.groupby("HADM_ID"):
        died = admissions_df.loc[
            admissions_df["HADM_ID"] == hadm_id,
            "HOSPITAL_EXPIRE_FLAG"
        ].iloc[0]

        if died == 1:
            last_icu_idx = group.index[-1]
            icu_labels.loc[last_icu_idx, "icustay_mortality"] = 1
    # =============================
    
    final_df = icu_note_df.merge(
        icu_labels[["ICUSTAY_ID", "icustay_mortality"]],
        on="ICUSTAY_ID",
        how="left"
    )

    return final_df

In [9]:
df_24h = build_icustay_note_dataset(
    icuStays_df,
    noteEvents_df,
    admissions_df,
    first_n_hours=24
)
df_24h

Max notes per ICU stay: 51

,HADM_ID,ICUSTAY_ID,category_1,note_1,category_2,note_2,category_3,note_3,category_4,note_4,...,note_47,category_48,note_48,category_49,note_49,category_50,note_50,category_51,note_51,icustay_mortality
0,110404,280836,Nursing/other,rn progress note\nneuro; pt aox3 pt affect slo...,Radiology,[**2198-2-15**] 8:32 AM\n CHEST (PORTABLE AP) ...,Radiology,[**2198-2-15**] 10:36 AM\n CHEST (PORTABLE AP)...,Radiology,[**2198-2-15**] 3:08 PM\n CHEST (PORTABLE AP) ...,...,,,,,,,,,,1
1,106296,206613,Nursing/other,pmicu nursing progress note\n40 year old inter...,Nursing/other,NPN (NOC): PT HAS IMPROVED OVERNIGHT. TMAX 1...,Radiology,[**2170-11-6**] 8:16 AM\n CHEST (PORTABLE AP) ...,,,...,,,,,,,,,,0
2,188028,220345,Nursing/other,Nursing Progress Note\n\n80yo man with h/o CAD...,ECG,Probable sinus bradycardia with atrial prematu...,ECG,Ventricular paced rhythm\nSince previous traci...,Nursing/other,CCU NSG PROGRESS NOTE 7P-7A/ S/P CAROTID STENT...,...,,,,,,,,,,0
3,173727,249196,ECG,Sinus rhythm\nAnterolateral ST-T changes are n...,Nursing/other,Nsg Admit Note 2300-0700\n\n45 yo female admi...,Radiology,[**2120-8-8**] 8:40 AM\n CHEST (PORTABLE AP) ...,Nursing/other,"MICU NPN 0700-1900\n\nNeuro: A&Ox3, pleasant a...",...,,,,,,,,,,0
4,164716,210407,Radiology,[**2186-12-25**] 11:13 PM\n CHEST (PORTABLE AP...,ECG,Sinus rhythm\nMild diffuse ST elevation - ? ea...,Nursing/other,"CCU Nursing Progress Note 11p-7a\nS: ""I feel p...",Nursing/other,ccu nursing progress note\ns: can i eat?\no: p...,...,,,,,,,,,,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61527,143774,201233,Radiology,[**2104-4-15**] 2:50 PM\n CHEST PORT. LINE PLA...,,,,,,,...,,,,,,,,,,0
61528,123750,283653,Nursing,[**Age over 90 **] year old female transferred...,Nursing,[**Age over 90 **] year old female with alzhem...,Nursing,Cardiac dysrhythmia other\n Assessment:\n ...,Nursing,[**Age over 90 **] year old female with alzhem...,...,,,,,,,,,,0
61529,196881,241585,Discharge summary,Admission Date: [**2160-3-3**] D...,,,,,,,...,,,,,,,,,,0
61530,118475,202802,Radiology,[**2183-3-25**] 11:42 AM\n CHEST PORT. LINE PL...,Nursing,3/ 2 AVR with 21mm St. [**Male First Name (un)...,Nursing,3/ 2 AVR with 21mm St. [**Male First Name (un)...,Nursing,3/ 2 AVR with 21mm St. [**Male First Name (un)...,...,,,,,,,,,,0
61531,156386,275346,Respiratory,Demographics\n Day of mechanical ventilation...,Nursing,"Pt restrained passenger in MVC, positive LOC. ...",General,TITLE: Intensivist Daily Note\n TITLE: Inten...,Social Work,Family Information\n Next of [**Doctor First...,...,,,,,,,,,,0