# 1. Read Dataset

In [1]:
import pandas as pd

icuStays_df = pd.read_csv(
    'E:/Mina/university/term9/bachelor_project/project/physionet.org/files/mimiciii/1.4/ICUSTAYS.csv.gz',
    compression='gzip',
    low_memory=False,
    parse_dates=['INTIME'] 
)

In [2]:
icuStays_df

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,DBSOURCE,FIRST_CAREUNIT,LAST_CAREUNIT,FIRST_WARDID,LAST_WARDID,INTIME,OUTTIME,LOS
0,365,268,110404,280836,carevue,MICU,MICU,52,52,2198-02-14 23:27:38,2198-02-18 05:26:11,3.2490
1,366,269,106296,206613,carevue,MICU,MICU,52,52,2170-11-05 11:05:29,2170-11-08 17:46:57,3.2788
2,367,270,188028,220345,carevue,CCU,CCU,57,57,2128-06-24 15:05:20,2128-06-27 12:32:29,2.8939
3,368,271,173727,249196,carevue,MICU,SICU,52,23,2120-08-07 23:12:42,2120-08-10 00:39:04,2.0600
4,369,272,164716,210407,carevue,CCU,CCU,57,57,2186-12-25 21:08:04,2186-12-27 12:01:13,1.6202
...,...,...,...,...,...,...,...,...,...,...,...,...
61527,59806,94944,143774,201233,metavision,CSRU,CSRU,15,15,2104-04-15 10:18:16,2104-04-17 14:51:00,2.1894
61528,59807,94950,123750,283653,metavision,CCU,CCU,7,7,2155-12-08 05:33:16,2155-12-10 17:24:58,2.4942
61529,59808,94953,196881,241585,metavision,SICU,SICU,57,57,2160-03-03 16:09:11,2160-03-04 14:22:33,0.9259
61530,59809,94954,118475,202802,metavision,CSRU,CSRU,15,15,2183-03-25 09:53:10,2183-03-27 17:55:03,2.3346
61531,59810,94956,156386,275346,metavision,TSICU,TSICU,14,14,2157-05-19 02:54:54,2157-05-23 14:58:04,4.5022

In [2]:
import pandas as pd

noteEvents_df = pd.read_csv(
    'E:/Mina/university/term9/bachelor_project/project/physionet.org/files/mimiciii/1.4/NOTEEVENTS.csv.gz',
    compression='gzip',
    low_memory=False,
    parse_dates=['CHARTDATE', 'CHARTTIME'] 
)

In [4]:
noteEvents_df

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,174,22532,167853.0,2151-08-04,NaT,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...
1,175,13702,107527.0,2118-06-14,NaT,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...
2,176,13702,167118.0,2119-05-25,NaT,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...
3,177,13702,196489.0,2124-08-18,NaT,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...
4,178,26880,135453.0,2162-03-25,NaT,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...
...,...,...,...,...,...,...,...,...,...,...,...
2083175,2070657,31097,115637.0,2132-01-21,2132-01-21 03:27:00,2132-01-21 03:38:00,Nursing/other,Report,17581.0,NaN,NPN\n\n\n#1 Infant remains in RA with O2 sats...
2083176,2070658,31097,115637.0,2132-01-21,2132-01-21 09:50:00,2132-01-21 09:53:00,Nursing/other,Report,19211.0,NaN,"Neonatology\nDOL #5, CGA 36 weeks.\n\nCVR: Con..."
2083177,2070659,31097,115637.0,2132-01-21,2132-01-21 16:42:00,2132-01-21 16:44:00,Nursing/other,Report,20104.0,NaN,Family Meeting Note\nFamily meeting held with ...
2083178,2070660,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:16:00,Nursing/other,Report,16023.0,NaN,NPN 1800\n\n\n#1 Resp: [**Known lastname 2243*...
2083179,2070661,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:31:00,Nursing/other,Report,16023.0,NaN,NPN 1800\nNursing Addendum:\n[**Known lastname...

In [3]:
import pandas as pd

admissions_df = pd.read_csv(
    'E:/Mina/university/term9/bachelor_project/project/physionet.org/files/mimiciii/1.4/ADMISSIONS.csv.gz',
    compression='gzip',
    parse_dates=['ADMITTIME'] 
)

In [6]:
admissions_df

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,21,22,165315,2196-04-09 12:26:00,2196-04-10 15:54:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2196-04-09 10:06:00,2196-04-09 13:24:00,BENZODIAZEPINE OVERDOSE,0,1
1,22,23,152223,2153-09-03 07:15:00,2153-09-08 19:10:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
2,23,23,124321,2157-10-18 19:34:00,2157-10-25 14:00:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,BRAIN MASS,0,1
3,24,24,161859,2139-06-06 16:14:00,2139-06-09 12:48:00,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,NaN,PROTESTANT QUAKER,SINGLE,WHITE,NaN,NaN,INTERIOR MYOCARDIAL INFARCTION,0,1
4,25,25,129635,2160-11-02 02:06:00,2160-11-05 14:55:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2160-11-02 01:01:00,2160-11-02 04:27:00,ACUTE CORONARY SYNDROME,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58971,58594,98800,191113,2131-03-30 21:13:00,2131-04-02 15:02:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,ENGL,NOT SPECIFIED,SINGLE,WHITE,2131-03-30 19:44:00,2131-03-30 22:41:00,TRAUMA,0,1
58972,58595,98802,101071,2151-03-05 20:00:00,2151-03-06 09:10:00,2151-03-06 09:10:00,EMERGENCY,CLINIC REFERRAL/PREMATURE,DEAD/EXPIRED,Medicare,ENGL,CATHOLIC,WIDOWED,WHITE,2151-03-05 17:23:00,2151-03-05 21:06:00,SAH,1,1
58973,58596,98805,122631,2200-09-12 07:15:00,2200-09-20 12:08:00,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,NaN,NaN,RENAL CANCER/SDA,0,1
58974,58597,98813,170407,2128-11-11 02:29:00,2128-12-22 13:11:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,SNF,Private,ENGL,CATHOLIC,MARRIED,WHITE,2128-11-10 23:48:00,2128-11-11 03:16:00,S/P FALL,0,0
58975,58598,98813,190264,2131-10-25 03:09:00,2131-10-26 17:44:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Private,ENGL,CATHOLIC,MARRIED,WHITE,2131-10-25 00:08:00,2131-10-25 04:35:00,INTRACRANIAL HEMORRHAGE,0,1

# 2. Prepare Dataset

In [13]:
import pandas as pd

def build_icustay_note_dataset(
    icuStays_df,
    noteEvents_df,
    admissions_df,
    first_n_hours=None 
):

    icu_base = icuStays_df[[
        "HADM_ID",
        "ICUSTAY_ID",
        "INTIME",
        "OUTTIME"
    ]].copy()
    icu_base["INTIME"] = pd.to_datetime(icu_base["INTIME"])
    icu_base["OUTTIME"] = pd.to_datetime(icu_base["OUTTIME"])
    # =============================

    notes = noteEvents_df[[
        "HADM_ID",
        "CHARTTIME",
        "CHARTDATE",
        "CATEGORY",
        "TEXT"
    ]].copy()

    notes["NOTE_TIME"] = pd.to_datetime(
        notes["CHARTTIME"].fillna(notes["CHARTDATE"])
    )

    notes = notes.dropna(subset=["NOTE_TIME"])
    notes = notes.sort_values("NOTE_TIME")
    # =============================

    notes_by_hadm = {
        hadm: df for hadm, df in notes.groupby("HADM_ID")
    }

    rows = []
    for _, icu in icu_base.iterrows():
        hadm_id = icu["HADM_ID"]
        if hadm_id not in notes_by_hadm:
            rows.append({
                "HADM_ID": hadm_id,
                "ICUSTAY_ID": icu["ICUSTAY_ID"],
                "CATEGORIES": [],
                "NOTES": []
            })
            continue

        icu_notes_all = notes_by_hadm[hadm_id]

        intime = icu["INTIME"]
        outtime = icu["OUTTIME"]
        if first_n_hours is not None:
            outtime = intime + pd.Timedelta(hours=first_n_hours)
        mask = (
            (icu_notes_all["NOTE_TIME"] >= intime) &
            (icu_notes_all["NOTE_TIME"] <= outtime)
        )
        icu_notes_df = icu_notes_all.loc[mask, ["NOTE_TIME", "CATEGORY", "TEXT"]]
        icu_notes_df = icu_notes_df.sort_values("NOTE_TIME")

        rows.append({
            "HADM_ID": hadm_id,
            "ICUSTAY_ID": icu["ICUSTAY_ID"],
            "CATEGORIES": icu_notes_df["CATEGORY"].tolist(),
            "NOTES": icu_notes_df["TEXT"].tolist()
        })

    icu_note_df = pd.DataFrame(rows)
    # =============================

    max_notes = icu_note_df["NOTES"].apply(len).max()
    print(f"Max notes per ICU stay: {max_notes}")

    wide_cols = []
    base_df = icu_note_df.drop(columns=["CATEGORIES", "NOTES"])
    wide_cols.append(base_df)

    for i in range(max_notes):
        cat_col = icu_note_df["CATEGORIES"].apply(
            lambda x: x[i] if i < len(x) else ""
        ).rename(f"category_{i+1}")

        note_col = icu_note_df["NOTES"].apply(
            lambda x: x[i] if i < len(x) else None
        ).rename(f"note_{i+1}")

        wide_cols.extend([cat_col, note_col])

    icu_note_df = pd.concat(wide_cols, axis=1)
    # =============================

    icu_labels = icu_base.sort_values(
        ["HADM_ID", "INTIME"]
    ).copy()

    icu_labels["icustay_mortality"] = 0

    for hadm_id, group in icu_labels.groupby("HADM_ID"):
        died = admissions_df.loc[
            admissions_df["HADM_ID"] == hadm_id,
            "HOSPITAL_EXPIRE_FLAG"
        ].iloc[0]

        if died == 1:
            last_icu_idx = group.index[-1]
            icu_labels.loc[last_icu_idx, "icustay_mortality"] = 1
    # =============================
    
    final_df = icu_note_df.merge(
        icu_labels[["ICUSTAY_ID", "icustay_mortality"]],
        on="ICUSTAY_ID",
        how="left"
    )

    return final_df

In [14]:
df_24h = build_icustay_note_dataset(
    icuStays_df,
    noteEvents_df,
    admissions_df,
    first_n_hours=24
)
df_24h

Max notes per ICU stay: 51

,HADM_ID,ICUSTAY_ID,category_1,note_1,category_2,note_2,category_3,note_3,category_4,note_4,...,note_47,category_48,note_48,category_49,note_49,category_50,note_50,category_51,note_51,icustay_mortality
0,110404,280836,Nursing/other,rn progress note\nneuro; pt aox3 pt affect slo...,Radiology,[**2198-2-15**] 8:32 AM\n CHEST (PORTABLE AP) ...,Radiology,[**2198-2-15**] 10:36 AM\n CHEST (PORTABLE AP)...,Radiology,[**2198-2-15**] 3:08 PM\n CHEST (PORTABLE AP) ...,...,None,,None,,None,,None,,None,1
1,106296,206613,Nursing/other,pmicu nursing progress note\n40 year old inter...,Nursing/other,NPN (NOC): PT HAS IMPROVED OVERNIGHT. TMAX 1...,Radiology,[**2170-11-6**] 8:16 AM\n CHEST (PORTABLE AP) ...,,None,...,None,,None,,None,,None,,None,0
2,188028,220345,Nursing/other,Nursing Progress Note\n\n80yo man with h/o CAD...,ECG,Probable sinus bradycardia with atrial prematu...,ECG,Ventricular paced rhythm\nSince previous traci...,Nursing/other,CCU NSG PROGRESS NOTE 7P-7A/ S/P CAROTID STENT...,...,None,,None,,None,,None,,None,0
3,173727,249196,ECG,Sinus rhythm\nAnterolateral ST-T changes are n...,Nursing/other,Nsg Admit Note 2300-0700\n\n45 yo female admi...,Radiology,[**2120-8-8**] 8:40 AM\n CHEST (PORTABLE AP) ...,Nursing/other,"MICU NPN 0700-1900\n\nNeuro: A&Ox3, pleasant a...",...,None,,None,,None,,None,,None,0
4,164716,210407,Radiology,[**2186-12-25**] 11:13 PM\n CHEST (PORTABLE AP...,ECG,Sinus rhythm\nMild diffuse ST elevation - ? ea...,Nursing/other,"CCU Nursing Progress Note 11p-7a\nS: ""I feel p...",Nursing/other,ccu nursing progress note\ns: can i eat?\no: p...,...,None,,None,,None,,None,,None,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61527,143774,201233,Radiology,[**2104-4-15**] 2:50 PM\n CHEST PORT. LINE PLA...,,None,,None,,None,...,None,,None,,None,,None,,None,0
61528,123750,283653,Nursing,[**Age over 90 **] year old female transferred...,Nursing,[**Age over 90 **] year old female with alzhem...,Nursing,Cardiac dysrhythmia other\n Assessment:\n ...,Nursing,[**Age over 90 **] year old female with alzhem...,...,None,,None,,None,,None,,None,0
61529,196881,241585,Discharge summary,Admission Date: [**2160-3-3**] D...,,None,,None,,None,...,None,,None,,None,,None,,None,0
61530,118475,202802,Radiology,[**2183-3-25**] 11:42 AM\n CHEST PORT. LINE PL...,Nursing,3/ 2 AVR with 21mm St. [**Male First Name (un)...,Nursing,3/ 2 AVR with 21mm St. [**Male First Name (un)...,Nursing,3/ 2 AVR with 21mm St. [**Male First Name (un)...,...,None,,None,,None,,None,,None,0
61531,156386,275346,Respiratory,Demographics\n Day of mechanical ventilation...,Nursing,"Pt restrained passenger in MVC, positive LOC. ...",General,TITLE: Intensivist Daily Note\n TITLE: Inten...,Social Work,Family Information\n Next of [**Doctor First...,...,None,,None,,None,,None,,None,0

In [15]:
def add_note_counts_column(df_main, time_limit_hours, df_add=None):
    note_counts = []
    for _, row in df_main.iterrows():
        count = 0
        i = 1
        while f'note_{i}' in row:
            if pd.notna(row[f'note_{i}']):
                count += 1
            i += 1
        note_counts.append(count)


    if time_limit_hours == 24:
        df_main['note_count_24'] = note_counts

    elif time_limit_hours == 48:
        df_main['note_count_48'] = note_counts
        if df_add is not None:
            hadm_to_count24 = dict(zip(df_add['HADM_ID'], df_add['note_count_24']))
            df_main['note_count_24'] = df_main['HADM_ID'].map(hadm_to_count24).fillna(0).astype(int)

    elif time_limit_hours == 'all':
        df_main['note_count_all'] = note_counts
        if df_add is not None:
            if 'note_count_48' in df_add.columns:
                hadm_to_count48 = dict(zip(df_add['HADM_ID'], df_add['note_count_48']))
                df_main['note_count_48'] = df_main['HADM_ID'].map(hadm_to_count48).fillna(0).astype(int)
            if 'note_count_24' in df_add.columns:
                hadm_to_count24 = dict(zip(df_add['HADM_ID'], df_add['note_count_24']))
                df_main['note_count_24'] = df_main['HADM_ID'].map(hadm_to_count24).fillna(0).astype(int)

    return df_main

In [16]:
df_24h = add_note_counts_column(df_24h, 24, None)
df_24h

,HADM_ID,ICUSTAY_ID,category_1,note_1,category_2,note_2,category_3,note_3,category_4,note_4,...,category_48,note_48,category_49,note_49,category_50,note_50,category_51,note_51,icustay_mortality,note_count_24
0,110404,280836,Nursing/other,rn progress note\nneuro; pt aox3 pt affect slo...,Radiology,[**2198-2-15**] 8:32 AM\n CHEST (PORTABLE AP) ...,Radiology,[**2198-2-15**] 10:36 AM\n CHEST (PORTABLE AP)...,Radiology,[**2198-2-15**] 3:08 PM\n CHEST (PORTABLE AP) ...,...,,None,,None,,None,,None,1,5
1,106296,206613,Nursing/other,pmicu nursing progress note\n40 year old inter...,Nursing/other,NPN (NOC): PT HAS IMPROVED OVERNIGHT. TMAX 1...,Radiology,[**2170-11-6**] 8:16 AM\n CHEST (PORTABLE AP) ...,,None,...,,None,,None,,None,,None,0,3
2,188028,220345,Nursing/other,Nursing Progress Note\n\n80yo man with h/o CAD...,ECG,Probable sinus bradycardia with atrial prematu...,ECG,Ventricular paced rhythm\nSince previous traci...,Nursing/other,CCU NSG PROGRESS NOTE 7P-7A/ S/P CAROTID STENT...,...,,None,,None,,None,,None,0,4
3,173727,249196,ECG,Sinus rhythm\nAnterolateral ST-T changes are n...,Nursing/other,Nsg Admit Note 2300-0700\n\n45 yo female admi...,Radiology,[**2120-8-8**] 8:40 AM\n CHEST (PORTABLE AP) ...,Nursing/other,"MICU NPN 0700-1900\n\nNeuro: A&Ox3, pleasant a...",...,,None,,None,,None,,None,0,4
4,164716,210407,Radiology,[**2186-12-25**] 11:13 PM\n CHEST (PORTABLE AP...,ECG,Sinus rhythm\nMild diffuse ST elevation - ? ea...,Nursing/other,"CCU Nursing Progress Note 11p-7a\nS: ""I feel p...",Nursing/other,ccu nursing progress note\ns: can i eat?\no: p...,...,,None,,None,,None,,None,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61527,143774,201233,Radiology,[**2104-4-15**] 2:50 PM\n CHEST PORT. LINE PLA...,,None,,None,,None,...,,None,,None,,None,,None,0,1
61528,123750,283653,Nursing,[**Age over 90 **] year old female transferred...,Nursing,[**Age over 90 **] year old female with alzhem...,Nursing,Cardiac dysrhythmia other\n Assessment:\n ...,Nursing,[**Age over 90 **] year old female with alzhem...,...,,None,,None,,None,,None,0,8
61529,196881,241585,Discharge summary,Admission Date: [**2160-3-3**] D...,,None,,None,,None,...,,None,,None,,None,,None,0,1
61530,118475,202802,Radiology,[**2183-3-25**] 11:42 AM\n CHEST PORT. LINE PL...,Nursing,3/ 2 AVR with 21mm St. [**Male First Name (un)...,Nursing,3/ 2 AVR with 21mm St. [**Male First Name (un)...,Nursing,3/ 2 AVR with 21mm St. [**Male First Name (un)...,...,,None,,None,,None,,None,0,12
61531,156386,275346,Respiratory,Demographics\n Day of mechanical ventilation...,Nursing,"Pt restrained passenger in MVC, positive LOC. ...",General,TITLE: Intensivist Daily Note\n TITLE: Inten...,Social Work,Family Information\n Next of [**Doctor First...,...,,None,,None,,None,,None,0,12

In [19]:
import joblib
joblib.dump(df_24h, f"results/df_24h.pkl")

['results/df_24h.pkl']

# 3. Separate sections

In [21]:
import re
import pandas as pd

def find_sectionsName(df, category):
    section_pattern = re.compile(r'(?:^|\n)\s*([^\n:]+)(?<!\d)(?<!:\d):', re.MULTILINE)
    unique_sections = [] 

    non_empty_values = df[category].dropna()
    if len(non_empty_values) == 0:
        return []

    texts_to_check = []
    if len(non_empty_values) >= 5:
        texts_to_check.extend([
            str(non_empty_values.iloc[0]),
            str(non_empty_values.iloc[1]),
            str(non_empty_values.iloc[len(non_empty_values) // 2]),
            str(non_empty_values.iloc[-2]),
            str(non_empty_values.iloc[-1])
        ])
    else:
        texts_to_check = [str(text) for text in non_empty_values]

    for text in texts_to_check:
        sections = section_pattern.findall(text)
        for section in sections:
            cleaned = section.strip().upper()
            if cleaned and cleaned not in unique_sections:  # Avoid repetition + maintain order
                unique_sections.append(cleaned)

    return unique_sections

In [22]:
def clean_text(text):
    if pd.isna(text) or not isinstance(text, str):
        return text
    
    # Remove lines that are only spaces, tabs, or a combination of these
    text = re.sub(r'^[ \t]+$', '', text, flags=re.MULTILINE)

    # Replace 2 or more spaces, tabs or \n with a single space
    text = re.sub(r'[ \t]{2,}', ' ', text)

    # Replace multiple consecutive blank lines with just one blank line
    text = re.sub(r'\n{1,}', '\n', text)

    # Remove long underlines
    text = re.sub(r'[_]{2,}', '', text)

    return text.strip()

In [23]:
import re

def extract_sections(text, titles, category):
    if not titles:
        return text  # Categories without any titles, like ECG.
    
    titles_contents = {title: '' for title in titles}
    titles_contents['INTRODUCTION'] = ''  # To hold text before the first title

    pattern = '|'.join([r'{}\s*:'.format(re.escape(title)) for title in titles])
    matches = list(re.finditer(pattern, text, flags=re.IGNORECASE))

    if matches:
        # Capture content before first title
        if matches[0].start() > 0:
            titles_contents['INTRODUCTION'] = f"[{category.upper()}] <INTRODUCTION>:\n{text[:matches[0].start()].strip()}"
            
        for i, match in enumerate(matches):
            cleaned_match = re.sub(r'[:]+$', '', match.group()).strip().upper()
            title_name = None
            for title in titles:
                if title == cleaned_match:
                    title_name = title
                    break
            if not title_name:
                continue
            start_idx = match.end()
            end_idx = matches[i+1].start() if i+1 < len(matches) else len(text)
            content = text[start_idx:end_idx].strip()
            
            if content:
                if titles_contents[title_name]:
                    titles_contents[title_name] += "\n" + content
                else:
                    titles_contents[title_name] = f"[{category.upper()}] <{title_name.title()}>:\n{content}"
        return titles_contents

    else:
        return f"{category}:\n{text.strip()}" # Categories with titles, but now just simple text

In [27]:
def separating_titles(df, note_titles):
    new_rows = []

    for idx, row in df.iterrows():
        # print(f"Data {idx}:")
        hadm_id = row['HADM_ID']
        new_row = {'HADM_ID': hadm_id}
        i = 1

        while f'category_{i}' in row and f'note_{i}' in row:
            # print(f"Separating note {i} ...")
            category = row[f'category_{i}']
            note_text = row[f'note_{i}']

            if category:
                category = category.upper().strip().replace(" ", "_")
            # print(f"Category: {category}")

            if pd.isna(category) or pd.isna(note_text):
                i += 1
                continue

            cleaned = clean_text(note_text)
            titles = note_titles.get(category, [])
            sections = extract_sections(cleaned, titles, category)

            this_note_dict = {}

            if isinstance(sections, dict) and sections:
                for title, content in sections.items():
                    if content and isinstance(content, str) and content.strip():
                        this_note_dict[title] = content.strip()

            elif isinstance(sections, str) and sections.strip():
                this_note_dict['FULL_NOTE'] = sections.strip()

            if this_note_dict:
                new_row[f'category_{i}'] = category
                new_row[f'note_{i}'] = this_note_dict

            i += 1

        new_rows.append(new_row)

    df_final = pd.DataFrame(new_rows)

    # Add note_count_* columns
    for col in df.columns:
        if col.startswith("note_count_"):
            df_final[col] = df[col].values

    return df_final

In [39]:
import gc
from tqdm import tqdm
import joblib

def run_separating_in_chunks(structured_df, note_titles, chunk_start, chunk_end, chunk_size):
    all_chunks = []

    pbar = tqdm(range(chunk_start, chunk_end, chunk_size), desc="Chunks", leave=True)
    for start in pbar:
        end = min(start + chunk_size, chunk_end)

        chunk_df = separating_titles(structured_df.iloc[start:end], note_titles)

        all_chunks.append(chunk_df)
        joblib.dump(chunk_df, f"results/SeparatedDF24_{start}_{end}.pkl")

        pbar.set_postfix_str(f"{end}/{chunk_end}")
        gc.collect()

    return all_chunks

In [67]:
end24 = 61532
df_separated = run_separating_in_chunks(df_24h, note_titles, chunk_start=60000, chunk_end=end24, chunk_size=1000)

Chunks: 100%|██████████| 2/2 [00:36<00:00, 18.12s/it, 61532/61532]

In [69]:
import joblib
import os

def concate_separated_files(origin_file, start, end, step):  

    print("🔄 Concatenating all chunks...")
    if os.path.exists(origin_file):
        df = joblib.load(origin_file)
    else:
        df = pd.DataFrame()

    for chunk_start in range(start, end, step):
        chunk_end = min(chunk_start + step, end)
        filename = f"results/SeparatedDF24_{chunk_start}-{chunk_end}.pkl"
        if os.path.exists(filename):
            chunk_df = joblib.load(filename)
            df = pd.concat([df, chunk_df], ignore_index=True)
            print(f"🎉 Appended chunk {chunk_start}-{chunk_end}")
        else:
            print(f"File not found: {filename}")
            break


    if not df.empty:
        all_cols = df.columns.tolist()
        note_count_cols = [col for col in all_cols if col.startswith('note_count_')]
        other_cols = [col for col in all_cols if col not in note_count_cols]
        df = df[other_cols + note_count_cols]

    return df

In [70]:
end24 = 61532
df_separated = concate_separated_files(f"results/SeparatedDF24.pkl", start=0, end=end24, step=10000)
# joblib.dump(df_separated, f"results/SeparatedDF24_0-61532.pkl")

🔄 Concatenating all chunks...
🎉 Appended chunk 0-10000
🎉 Appended chunk 10000-20000
🎉 Appended chunk 20000-30000
🎉 Appended chunk 30000-40000
🎉 Appended chunk 40000-50000
🎉 Appended chunk 50000-60000
🎉 Appended chunk 60000-61532

In [71]:
df_separated

,HADM_ID,category_1,note_1,category_2,note_2,category_3,note_3,category_4,note_4,category_5,...,note_47,category_48,note_48,category_49,note_49,category_50,note_50,category_51,note_51,note_count_24
0,110404,NURSING/OTHER,{'GI': '[NURSING/OTHER] <Gi>: bs + no bm no fl...,RADIOLOGY,{'REASON': '[RADIOLOGY] <Reason>: eval for wor...,RADIOLOGY,{'REASON': '[RADIOLOGY] <Reason>: PLEASE CHECK...,RADIOLOGY,{'REASON': '[RADIOLOGY] <Reason>: ? R IJ posit...,NURSING/OTHER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
1,106296,NURSING/OTHER,{'CARDIAC': '[NURSING/OTHER] <Cardiac>: on adm...,NURSING/OTHER,{'FULL_NOTE': 'NURSING/OTHER: NPN (NOC): PT HA...,RADIOLOGY,"{'REASON': '[RADIOLOGY] <Reason>: Infection', ...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
2,188028,NURSING/OTHER,{'FULL_NOTE': 'NURSING/OTHER: Nursing Progress...,ECG,{'FULL_NOTE': 'Probable sinus bradycardia with...,ECG,{'FULL_NOTE': 'Ventricular paced rhythm Since ...,NURSING/OTHER,{'FULL_NOTE': 'NURSING/OTHER: CCU NSG PROGRESS...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
3,173727,ECG,{'FULL_NOTE': 'Sinus rhythm Anterolateral ST-T...,NURSING/OTHER,{'P': '[NURSING/OTHER] <P>: Continue to hydrat...,RADIOLOGY,"{'REASON': '[RADIOLOGY] <Reason>: effusions, p...",NURSING/OTHER,"{'NEURO': '[NURSING/OTHER] <Neuro>: A&Ox3, ple...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
4,164716,RADIOLOGY,{'REASON': '[RADIOLOGY] <Reason>: evaluate for...,ECG,{'FULL_NOTE': 'Sinus rhythm Mild diffuse ST el...,NURSING/OTHER,{'NEURO': '[NURSING/OTHER] <Neuro>: AAO x3. Re...,NURSING/OTHER,{'RESP': '[NURSING/OTHER] <Resp>: rr mid 20s t...,NURSING/OTHER,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61527,143774,RADIOLOGY,{'REASON': '[RADIOLOGY] <Reason>: FAST TRACK E...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
61528,123750,NURSING,{'ASSESSMENT': '[NURSING] <Assessment>: Bradyc...,NURSING,{'ASSESSMENT': '[NURSING] <Assessment>: HR 20 ...,NURSING,{'INTRODUCTION': '[NURSING] <INTRODUCTION>: Ca...,NURSING,{'ASSESSMENT': '[NURSING] <Assessment>: HR 20 ...,ECG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
61529,196881,DISCHARGE_SUMMARY,{'FULL_NOTE': 'Admission Date: [**2160-3-3**] ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
61530,118475,RADIOLOGY,"{'REASON': '[RADIOLOGY] <Reason>: ptx', '[**HO...",NURSING,{'ASSESSMENT': '[NURSING] <Assessment>: Nsr wi...,NURSING,{'ASSESSMENT': '[NURSING] <Assessment>: Nsr wi...,NURSING,{'ASSESSMENT': '[NURSING] <Assessment>: Nsr wi...,NURSING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
61531,156386,RESPIRATORY,{'DAY OF MECHANICAL VENTILATION': '[RESPIRATOR...,NURSING,{'ASSESSMENT': '[NURSING] <Assessment>: Packed...,GENERAL,{'TITLE': '[GENERAL] <Title>: Intensivist Dail...,SOCIAL_WORK,{'NEXT OF [**DOCTOR FIRST NAME **]': '[SOCIAL_...,NURSING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12

# 4. Use from LLM

In [72]:
import pandas as pd
from itertools import count

def extract_notes_by_categories(df, target_categories):
    if isinstance(target_categories, str):
        target_categories = [target_categories]

    extracted_rows = []

    for idx, row in df.iterrows():
        hadm_id = row['HADM_ID']
        new_row = {'HADM_ID': hadm_id}
        note_idx = 1

        for i in count(1):
            cat_col = f'category_{i}'
            note_col = f'note_{i}'

            if cat_col not in row or note_col not in row:
                break

            if row[cat_col] in target_categories:
                new_row[f'category_{note_idx}'] = row[cat_col]
                new_row[f'note_{note_idx}'] = row[note_col]
                note_idx += 1

        if note_idx > 1:
            extracted_rows.append(new_row)

    df_final = pd.DataFrame(extracted_rows)

    count_cols = [col for col in df.columns if col.startswith("note_count_")]
    if count_cols:
        df_counts = df[['HADM_ID'] + count_cols].drop_duplicates()
        df_final = df_final.merge(df_counts, on='HADM_ID', how='left')

    return df_final

In [75]:
df_basedOn_category = extract_notes_by_categories(df_separated, "NURSING/OTHER")

In [77]:
import pandas as pd
from itertools import count

def extract_notes_by_sections(df, target_sections):
    if isinstance(target_sections, str):
        target_sections = [target_sections]

    target_sections = set(target_sections)

    filtered_rows = []

    for _, row in df.iterrows():
        hadm_id = row['HADM_ID']
        new_row = {'HADM_ID': hadm_id}

        note_idx = 1
        has_any = False

        for i in count(1):
            note_col = f"note_{i}"
            cat_col  = f"category_{i}"

            if note_col not in row:
                break

            note_dict = row[note_col]

            if isinstance(note_dict, dict):
                filtered_dict = {
                    k: v for k, v in note_dict.items()
                    if k in target_sections
                }

                if len(filtered_dict) > 0:
                    new_row[f'embedded_note_{note_idx}'] = filtered_dict
                    new_row[f'category_{note_idx}'] = row[cat_col]
                    has_any = True
                    note_idx += 1

        if has_any:
            filtered_rows.append(new_row)

    df_new = pd.DataFrame(filtered_rows)

    count_cols = [c for c in df.columns if c.startswith("note_count_")]
    if count_cols and not df_new.empty:
        df_counts = df[['HADM_ID'] + count_cols].drop_duplicates()
        df_new = df_new.merge(df_counts, on='HADM_ID', how='left')

    return df_new

In [78]:
df_basedOn_section = extract_notes_by_sections(df_basedOn_category, "D")

In [79]:
df_basedOn_section

,HADM_ID,embedded_note_1,category_1,embedded_note_2,category_2,embedded_note_3,category_3,embedded_note_4,category_4,embedded_note_5,category_5,embedded_note_6,category_6,note_count_24
0,110404,{'D': '[NURSING/OTHER] <D>: sbp 99 to 114 with...,NURSING/OTHER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
1,144156,{'D': '[NURSING/OTHER] <D>: ADMITTED FROM ED A...,NURSING/OTHER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
2,122211,{'D': '[NURSING/OTHER] <D>: temp max 100.4 pr....,NURSING/OTHER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
3,122211,{'D': '[NURSING/OTHER] <D>: temp max 100.4 pr....,NURSING/OTHER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
4,122211,{'D': '[NURSING/OTHER] <D>: temp max 100.4 pr....,NURSING/OTHER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6049,131932,{'D': '[NURSING/OTHER] <D>: PT TO [**Name (NI)...,NURSING/OTHER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
6050,136379,"{'D': '[NURSING/OTHER] <D>: SD,+BSX4,S,NT. NO ...",NURSING/OTHER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
6051,198220,{'D': '[NURSING/OTHER] <D>: See carevue flowsh...,NURSING/OTHER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
6052,132158,"{'D': '[NURSING/OTHER] <D>: soft, nontender, f...",NURSING/OTHER,{'D': '[NURSING/OTHER] <D>: Infant pre-medicat...,NURSING/OTHER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
6053,159129,"{'D': '[NURSING/OTHER] <D>: no masses, non dis...",NURSING/OTHER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5